<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../frame/layui/css/layui.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/search.css">
    <link rel="icon" href="../image/code.png">
</head>
<body style="padding-top: 5px;">
<button type="button" class="layui-btn refresh">添加一级分类</button>
<button type="button" class="layui-btn layui-btn-normal open-all">全部展开</button>
<button type="button" class="layui-btn layui-btn-warm close-all">全部关闭</button>
<button type="button" class="layui-btn layui-btn-danger get-checked">获取选中</button>

<table class="layui-table layui-form" id="tree-table" lay-size="sm"></table>

<script type="text/javascript" src="../../js/common/module-manage.js"></script>
<script type="text/javascript" src="../../frame/layui/layui.js"></script>
<script type="text/javascript" charset="utf8" src="../../frame/jquery-1.12.4.js"></script>
<script type="text/javascript" charset="utf8" src="../../frame/moment.js"></script>
<script type="text/javascript" charset="utf8" src="../../frame/form-srializeJSON.js"></script>
<script type="text/javascript" charset="utf8" src="../../js/controller/dictionary/dictionary-list.js"></script>
</body>
</html>
